@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
  font-family: 'JMH Typewriter Bold'; 
  src: url(fonts/JMHTypewriterBold.ttf); 
}

html{
	color:#5c5c5c;
  background:#FFF;
  font-family: 'Roboto Slab', serif;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,code,form,fieldset,legend,input,
textarea,p,blockquote,th,td {
	margin:0;
    padding:0;
    background-color: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
 
ol,ul {
	list-style:none;
}
 
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
  *font-size:100%; /*to enable resizing for IE*/
  outline:none;
}
input:active, textarea:active {
  outline:none;
}
:focus {outline:none;}

/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* START */

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  height: 40px; /*задаем высоту*/
}
.nav a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#666; /*меняем цвет ссылок*/
  padding: 0px 1vw; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height: 40px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #000; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
.nav ul:first-child {
  border-left: 1px solid #000; /*добавляем бордюр справа*/
}
.nav a:hover {
  background:#fa6c65;/*добавляем эффект при наведении*/
  color: #fbfbfb;
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}

.grid {
    display: grid;
}

.grid-container {
    display: grid; /* элемент отображается как блочный   grid-контейнер */
    grid-template-rows: 80px 40px calc(100vh - 80px - 40px); /* определяем количество и ширину строк в макете сетки */
    grid-template-columns: repeat(8, 1fr); /* определяем количество и ширину столбцов в макете сетки */
    grid-template-areas:
      '. header . . . contacts contacts .' /* определяем шаблон макета сетки, ссылаясь при этом на имена областей элементов */
      'nav nav nav nav nav nav nav nav' /* точка обозначает элемент без имени */
      'slider slider slider slider slider slider slider slider'; /* точка обозначает элемент без имени */
    align-items: center;
}


  .grid-container > div {
    text-align: center; /* горизонтальное выравнивание текста */
  }
  .header {
    grid-area: header; /* задаем имя элемента */
    align-self: center;
    justify-self: left;
    font-family: 'JMH Typewriter Bold'; 
    color: #666666;
    font-size: 2em;
  }
  .contacts {
    grid-area: contacts;
    align-self: center;
    font-size: 0.8em;
    color: #8b8b8b;
    min-width: 310px;
  }
  .contacts a {
    color: #8b8b8b;
    text-decoration: none; 
  }
  .contacts a:hover {
    color: #fa6c65;
  }
  .letter {
    margin-left: 20px;
  }
  .nav {
    grid-area: nav;
    grid-template-rows: 1fr;
    grid-template-columns: 12.5% 1fr 0.2fr 12.5%;
    grid-template-areas: 
    '. buttons socials .';
    align-items: center;
    background: #fbfbfb;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
  }

  .buttons {
    background-color: #fbfbfb;
    justify-self: left;
    grid-area: buttons;
  }

  /*social bar */

  .socials {
    grid-area: socials;
    align-content: center;
    min-width: 120px;
  }
  .socials ul {
    height: 10px; /*задаем высоту*/
  }
  .socials ul li a {
    padding: 5px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 11px;
  }
  
  .socials ul li a:hover {
    background-color: #f9aa5d;
  }
  .socials ul li img {
    height: 12px;
    width: 12px;
  }
  .socials a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:#666; /*меняем цвет ссылок*/
    padding: 0; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height: 0;
    display: block; 
    border: 0;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
  
  }
  .socials ul:first-child {
    border-left: 0;
  }
  .socials a:hover {
    background: none;/*добавляем эффект при наведении*/
  }

  /* end social bar*/ 

  .slider {
    grid-area: slider; /* задаем имя элемента */
    align-content: center;
    background: url(img/slider.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2em;
    color: #272727; 
    position: relative;
    min-height: calc(100vh - 80px - 40px);
    grid-gap: 40px 0;
  }
  .slider div:nth-child(2) {
    font-size: 0.75em;
  }
  input {
    border: 0;
    background-color: #fa6c65;
    color: #fff;
    padding: 1.4em;
    font-family: "Arial";
    font-size: 0.35em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="button"]:hover {
    background-color: #fbfbfb;
    color: #666;
    transition: background-color 0.3s ease;
  }
  .head-content {
    background: rgba(255,255,255,0.85);
    padding: 0.2em;
    color: #5c5c5c;
    font-family: 'Roboto Slab', serif;
  }
  .second-container {
    display: grid; /* элемент отображается как блочный   grid-контейнер */
    grid-template-rows: auto 200px; /* определяем количество и ширину строк в макете сетки */
    grid-template-columns: repeat(8, 1fr); /* определяем количество и ширину столбцов в макете сетки */
    grid-template-areas:
    '. slogan slogan slogan slogan slogan slogan .'
    '. . services services services services . .';
    align-items: center;
    background-color: #fbfbfb;
  }
  .slogan {
    grid-area: slogan; /* задаем имя элемента */
    align-self: start;
    padding: 0 100px;
    background-color: #fbfbfb;
    text-align: center;
  }
  .slogan br {
    display: block;
    height: 1px;
  }
  .slogan h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .slogan h2 span {
    color: #fa6c65;
  }
  .slogan span:last-child {
    line-height: 2em;
  }
  .services {
    grid-area: services;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .services div {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.7em;
    height: 150px;
  }
  .services img:nth-child(2) {
    width: 33px;
    height: 33px;
    padding: 30px;
    background-color: #efefef;
    border-radius: 90px;
    display: block;
    margin: 0 auto;
  }
  .services img:first-child {
    display: none;
    position: absolute;
  }
  .services a {
    color: #bbb;
    text-decoration: none;
    line-height: 1.5em;
    display: block;
    position: absolute;
    left: -46px;
    top: 0;
  }
  .services a:hover {
    color: #fa6c65;
  }

  @keyframes pointer {
   0% {width: 0px; height: 0px; top: 0;}
   100% {width: 20px; height: 6px; top: -5px;}
  }
  
  .services a:hover img:first-child {
    display: block;
    animation: pointer 0.3s ease forwards;
  }
  .services a:hover img:nth-child(2) {
    background-color: #fa6c65;
    width: 43px;
    height: 43px;
    padding: 25px;
    transition: background-color 0.4s ease,
      width 0.1s ease,
      padding 0.1s ease,
      height 0.1s ease;
  }
  .toCenter {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .portfolio {
    grid-template-rows: 90px 4.2vw auto; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      '. latest latest latest latest latest latest .' /* определяем шаблон макета сетки, ссылаясь при этом на имена областей элементов */
      '. filter filter filter filter filter filter .' /* точка обозначает элемент без имени */
      'thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails'; /* точка обозначает элемент без имени */
    align-items: center;
    padding-bottom: 2.22vw;
  }
  #showHide {
    font-size: 0.5em;
    display: none;
    margin: 0 auto;
    margin-bottom: 2.22vw;
  }
  .latest {
    grid-area: latest;
    justify-self: center;
    align-self: end;
    margin: 30px 0;
  }
  .latest h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #fa6c65;
    display: inline;
  }
  .filter {
    grid-area: filter;
    justify-self: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #616161;
  }
  .filter ul li:hover {
    color: #fa6c65;
    cursor: pointer;
  }
  .filter ul li:focus {
    color: #fa6c65;
  }
  .filter ul li::before {
    content: '•';
    vertical-align: middle;
    font-size: 2em;
    margin-left: 30px;
    padding-right: 3px;
    color: #fa6c65;
  }
  .filter ul li:first-child::before {
    margin-left: 0px;
  }
  .thumbnails {
    margin: 0 auto;
    grid-area: thumbnails;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    align-self: start;
    grid-gap: 7px;
  }
  .thumbnails div {
    width: 21vw;
    height: 16.38vw;
    border: solid 1px black;
    cursor: pointer;
  }
  .thumbnails div:after {
    content: "";
    background: #fff;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%; 
  }
  .thumbnails div:hover:after {
    opacity: 0.25;
    transition: opacity 1s ease-in;
  }
  .thumbnails div:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
  }

  @keyframes imgViewOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
   }

  .imgView {
    width: 50%;
    height: 50%;
    position:absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    padding: 7px 7px;
    border: 1px solid black;
    animation: imgViewOpacity 0.5s ease forwards;
    box-shadow: 0 0 0.5vw #000;
  } 
  .imgView input {
    font-size: 1em;
    padding: 0px 5px;
    color: black;
    background-color: #fff;
    opacity: 0.5;
    text-transform: lowercase;
  }
  .imgOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
  }
  
  #tmb1 {
    background: url(img/tmb/tmb1.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb2 {
    background: url(img/tmb/tmb2.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb3 {
    background: url(img/tmb/tmb3.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb4 {
    background: url(img/tmb/tmb4.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb5 {
    background: url(img/tmb/tmb5.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb6 {
    background: url(img/tmb/tmb6.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb7 {
    background: url(img/tmb/tmb7.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb8 {
    background: url(img/tmb/tmb8.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb9 {
    background: url(img/tmb/tmb9.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb10 {
    background: url(img/tmb/tmb10.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb11 {
    background: url(img/tmb/tmb11.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  #tmb12 {
    background: url(img/tmb/tmb12.png) no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .blog {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    '. . blog-content blog-content blog-content blog-content . .'
    'blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider'
    'blog-button blog-button blog-button blog-button blog-button blog-button blog-button blog-button';
    justify-items: center;
    justify-content: center;
    font-size: 0.8em;
    text-align: center;
    line-height: 2em;
    background-color: #fbfbfb;
  }
  .blog-content {
    grid-area: blog-content;
  }
  .blog-content h2 {
    line-height: 2.5rem;
  }
  .blogSlider {
    grid-area: blog-slider;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .blog-button {
    grid-area: blog-button;
    align-self: center;
    line-height: 0px;
    padding-top: 20px;
    padding-bottom: 3em;
  }
  .blogSlider__wrap {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease;
  }
  .blogSlider__item {
    flex: 0 0 calc(100vw/3 - 4vw);
    background: #fff;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 1vw;
    padding: 1vw 1vw 0 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .blogSlider__item:hover {
    border: 1px solid darkgray;
  }
  .blogSlider__item h3 {
    font-weight: bold;
    display: inline;
    line-height: 1em;
  }
  .blogSlider__item p {
    font-size: 0.9em;
    font-weight: bold;
    color: #9f9f9f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:inline;
  }
  .blogSlider__item img {
    width: 100%;
    height: 75%;
    padding-bottom: 0.5em;
  }
  .btn {
    display: block;
    position: absolute;
    top: 40%;
    border: 1px solid gray;
    background: #fbfbfb;
    opacity: 0.35;
    line-height: 3vw;
    width: 3vw;
    height: 3vw;
    z-index: 2;
    cursor: pointer;  
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .btn:hover {
    opacity: 0.6;
  }
  .btn span {
    display: inline-block;
    transform: scaleX(0.3);
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .pushDots {
    color: darkgray;
    font-size: 36px;
  }
  .footer {
    background-color: #303538;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-gap: 0px;
    grid-template-areas: '. touch twitter popular about .'
    'emptycopy copyright copyright copyright copyright copyright';
    font-size: 0.8em;
    color: #cacaca;
  }
  .footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 2px 5px gray;
    padding-bottom: 1em;
  }
  .footer div {
    padding: 20px;
  } 
  .touch {
    grid-area: touch;
  }
  .twitter {
    grid-area: twitter;
  }
  .popular {
    grid-area: popular;
  }
  .about{
    grid-area: about;
  }
  .emptycopy {
    background-color: #2d3134;
    grid-area: emptycopy;
  }
  .copyright {
    grid-gap: 0;
    background-color: #2D3134;
    padding: 20px 0;
    grid-area: copyright;
  }
  @media screen and (min-width: 1331px) { /* for all screen biggest than 1331px */
  .contacts br {
    display: none;
  }
  }
  @media screen and (max-width: 1330px) { /* for all screen smaller than 1331, but look at next limit */
  .slogan {
    padding: 0;
  }
  .contacts br {
    display: none;
  }
  }

  @media screen and (max-width: 1053px) {
    .second-container {
      grid-template-rows: auto 200px; /* определяем количество и ширину строк в макете сетки */
    }
    .contacts br {
      display: none;
    }
    .second-container {
      grid-template-columns: 10% repeat(6, 1fr) 10%; /* определяем количество и ширину столбцов в макете сетки */
      grid-template-areas:
      '. slogan slogan slogan slogan slogan slogan .'
      '. services services services services services services .';
      }
    .blogSlider__item {
      font-size: 0.9em;
    }

  }
  @media screen and (max-width: 900px) {
  
    .grid-container {
      grid-template-columns: repeat(7, 1fr) 20%;
      grid-template-areas:
        'header . . . . . contacts contacts'
        'nav nav nav nav nav nav nav nav' 
        'slider slider slider slider slider slider slider slider';
    }
    .nav {
      grid-template-areas: 
      '. buttons . socials';  
      grid-template-columns: 0 85% 0 15%;
    }
    .socials {
      justify-self: end;
    }
    .contacts {
      min-width: 200px;
      text-align: right !important;
      padding-right: 20px;
    }
    .contacts br {
      display: inline;
    }
    .header {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 820px) {
    .contacts {
      text-align: left !important;
    }
    .letter {
      margin: 0px;
    }
    .second-container {
      font-size: 0.9rem;
    }

    .blog {
      grid-template-areas: 
      '. blog-content blog-content blog-content blog-content blog-content blog-content .'
      'blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider blog-slider'
      'blog-button blog-button blog-button blog-button blog-button blog-button blog-button blog-button';
    }
    .portfolio {
      grid-template-rows: auto; 
      grid-template-columns: 20px repeat(6, 1fr) 20px;
      grid-template-areas:
        '. latest latest latest latest latest latest .' /* определяем шаблон макета сетки, ссылаясь при этом на имена областей элементов */
        '. filter filter filter filter filter filter .' /* точка обозначает элемент без имени */
        'thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails thumbnails'; /* точка обозначает элемент без имени */
    }
    .filter {
      font-size: 0.7rem;
    }
    .thumbnails {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      justify-items: center;
      justify-content: center;
      grid-gap: 7px;
    }
    .thumbnails div {
      width: 30vw;
      height: 22.5vw;
      border: solid 1px black;
    }
    .footer {
      grid-template-rows: auto;
      grid-template-columns: 0.2fr repeat(2, 1fr) 0.2fr;
      grid-gap: 0px;
      grid-template-areas: '. touch twitter .'
      '. popular about .'
      'emptycopy copyright copyright copyright';
      font-size: 0.8em;
      color: #cacaca;
    }
    .blogSlider__item {
      font-size: 0.8em;
      padding-bottom:10px;
    }  
  }
  @media screen and (max-width: 750px) {
  .slider {
    font-size: 1.6em;
  }
  }
  @media screen and (max-width: 592px) {
  .grid-container {
    display: grid; /* элемент отображается как блочный   grid-контейнер */
    grid-template-rows: auto; /* определяем количество и ширину строк в макете сетки */
    grid-template-columns: repeat(4, 1fr); /* определяем количество и ширину столбцов в макете сетки */
    grid-template-areas:
      'contacts contacts contacts contacts'
      'header header header header'; /* определяем шаблон макета сетки, ссылаясь при этом на имена областей элементов */
    align-items: center;
 
  }
  .slider {display:none;}
  .nav {display: none;}

  .header {
    background-color: #fff;
    padding: 5px 0;
    justify-self: center;
    text-shadow: 0 2px 8px #fff;
  }
  .contacts {
    text-align: center !important;
    min-width: 310px;
    padding: 10px 0;
    background-color: #fff;
  }
  .contacts br {
    display: none;
  }
  .contacts img:last-child {
    margin-left: 20px;
  }
  .second-container {
    grid-template-rows: auto; /* определяем количество и ширину строк в макете сетки */
    grid-template-columns: repeat(4, 1fr); /* определяем количество и ширину столбцов в макете сетки */
    grid-template-areas:
    'slogan slogan slogan slogan'
    'services services services services';
    align-items: center;
    justify-content: center;
    background-color: #fbfbfb;
    padding: 0 20px;
  }
  .slogan {
    padding-bottom: 30px;
  }
  .slogan h2 {
    font-size: 1.3em;
    padding: 1em 0;
  } 
  .services div {
    height: 130px;
    margin-top: 20px;
  }
  .services img:nth-child(2) {
    padding: 15px;
  }
  .services a {
    left: -35px;
  }
  .services a:hover img:nth-child(2) {
    background-color: #fa6c65;
    width: 33px;
    height: 33px;
    padding: 15px;
  }
  .portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 'latest latest latest latest'
    'filter filter filter filter'
    'thumbnails thumbnails thumbnails thumbnails';
  }
  .latest {
    text-align: center;
  }
  .filter {
    text-align: center; 
    width: 70%;
    min-height: 120px; 
    margin-bottom: 25px;
  }
  .filter ul {
    min-height: 120px;
  }
  .filter ul li {
    float: left; 
    display:block; 
    width: 50%; 
    font-size: 1.5em;
    max-height: 41px;
  }
  .filter ul li::before {
    content: '•';
    margin-left: 0px;
    font-size: 2em;
    padding-right: 3px;
    color: #fa6c65;
    text-align:center;
  }
  .thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }
  .thumbnails div {
    width: 42vw;
    height: 32.76vw;
  }
  .btn {
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
  }
  .blogSlider__item {
    flex: 0 0 calc(100% - 4% - 2px);
    margin: 0 1%;
    padding: 1%;
  }
}