@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@font-face {
  font-family: 'JMH Typewriter Bold'; 
  src: url(fonts/JMHTypewriterBold.ttf); 
}


html{
	color:#000;
	background:#FFF;
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,
h4,h5,h6,pre,code,form,fieldset,legend,input,
textarea,p,blockquote,th,td {
	margin:0;
    padding:0;
    background-color: none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
 
ol,ul {
	list-style:none;
}
 
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	*font-size:100%; /*to enable resizing for IE*/
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* START */

ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  height: 50px; /*задаем высоту*/
}
.nav a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color:#666; /*меняем цвет ссылок*/
  padding: 0px 1vw; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height: 50px; /*ровняем меню по вертикали*/
  display: block; 
  border-right: 1px solid #000; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}
.nav ul:first-child {
  border-left: 1px solid #000; /*добавляем бордюр справа*/
}
.nav a:hover {
  background:#fa6c65;/*добавляем эффект при наведении*/
  color: #fbfbfb;
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
}

.grid {
    display: grid;
}

.grid-container {
    display: grid; /* элемент отображается как блочный   grid-контейнер */
    padding: 0 0 10px 0; /* внешний отступ элемента со всех сторон */
    grid-template-rows: 11vh 50px calc(100vh - 11vh - 50px) 20vh; /* определяем количество и ширину строк в макете сетки */
    grid-template-columns: repeat(8, 1fr); /* определяем количество и ширину столбцов в макете сетки */
    grid-template-areas:
      '. header . . . contacts contacts .' /* определяем шаблон макета сетки, ссылаясь при этом на имена областей элементов */
      'nav nav nav nav nav nav nav nav' /* точка обозначает элемент без имени */
      'slider slider slider slider slider slider slider slider' /* точка обозначает элемент без имени */
      'footer footer footer footer footer footer footer footer';
    align-items: center;
}

  .grid-container > div {
    text-align: center; /* горизонтальное выравнивание текста */
  }
  .header {
    grid-area: header; /* задаем имя элемента */
    align-self: center;
    justify-self: left;
    font-family: 'JMH Typewriter Bold'; 
    color: #666666;
    font-size: 2em;
  }
  .contacts {
    grid-area: contacts;
    align-self: center;
    font-family: sans-serif;
    font-size: 0.8em;
    color: #8b8b8b;
    min-width: 310px;
  }
  .contacts a {
    color: #8b8b8b;
    text-decoration: none; 
  }
  .contacts a:hover {
    color: #fa6c65;
  }
  .nav {
    grid-area: nav;
    grid-template-rows: 1fr;
    grid-template-columns: 12.5% 1fr 0.2fr  12.5%;
    grid-template-areas: 
    '. buttons socials .';
    align-items: center;
    background: #fbfbfb;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
  }

  .buttons {
    background-color: #fbfbfb;
    justify-self: left;
    grid-area: buttons;
  }
  .footer {
    grid-area: footer; /* задаем имя элемента */
    background: green !important; /* цвет заднего фона */
  }
  .slider {
    grid-area: slider; /* задаем имя элемента */
    align-content: center;
    background: url(img/slider.png) no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 2em;
    color: #272727; 
    position: relative;
    min-height: calc(100vh - 11vh - 50px);
  }
  .slider div:nth-child(3) {
    font-size: 0.75em;
  }
  input {
    border: 0;
    background-color: #fa6c65;
    color: #fff;
    padding: 1.4em;
    font-family: "Arial";
    font-size: 0.35em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="button"]:hover {
    background-color: #fbfbfb;
    color: #666;
    transition: background-color 0.3s ease;
  }
  .head-content {
    background: rgba(255,255,255,0.85);
    padding: 0.2em;
    color: #5c5c5c;
    font-family: 'Roboto Slab', serif;
  }
  .letter {
    margin-left: 20px;
  }
  .socials {
    grid-area: socials;
  }